<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319085305201-sra42che54lefmq06kjhaldgsufuts1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319085305201-sra42che54lefmq06kjhaldgsufuts1o</string>
	<key>API_KEY</key>
	<string>AIzaSyA1RMkV7b_OeY3fMcXzCJKh5oJrDm9xybk</string>
	<key>GCM_SENDER_ID</key>
	<string>319085305201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sk.victoria.galikova.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-a3d6a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-a3d6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319085305201:ios:cf884129d38d082bcaead0</string>
</dict>
</plist>